<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="../style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

    <script src="../js/bootstrap.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>

<body>
    <div id="scroll_to_top">
        <a href="#top"><img src="../public/images/scrolltop.png" alt="Retourner en haut" /></a>
    </div>

    <ul class="nav justify-content-center">
        <nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="../index.html">Accueil</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="./cv.html">CV</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Premier stage</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="./stage1.html">Entreprise</a>
                                <a class="dropdown-item" href="./organigramme.html">Organigramme</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="./mission_s1.html">Missions et tâches</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Alternance</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="./mission_alternance.html">Missions et tâches</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">AP</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="pharmacieSaut.html">Pharmacie SAUTEUHZ</a>
                                <a class="dropdown-item" href="epoka.html">Epoka</a>
                            </div>
                        </li>
                    </ul>
                    <a class="navbar-brand" href="../index.html">Alessia TORNABENE</a>
                </div>
            </nav>
        </nav>
    </ul>

    <p></p>

    <h1>Contexte Alternance</h1>

    <p></p>

    <div class="liste_presentation">
        Tuteur : Florent SANCHEZ<br>
        Problèmatique durant l'alternance : Développement en WinDev, Requêtes sur InfoMaker<br>
    </div>

    <p></p>

    <h2>Missions</h2>

    <div class="missions_princ">Mission 1 - Développement d'un connecteur Prestashop en WinDev<br>
    Mission 2 - Modifications d'un modèle d'édition sur InfoMaker</div>

    <h2>Outils utilisés : </h2>

    <div class="outils"><b>WinDev :</b> Atelier de génie logiciel édité par la société française PC SOFT et conçu pour développer des applications, 
        principalement orientées données pour Windows et également pour Linux, .NET et Java. Il propose son propre langage : le Wlangage
        (semblable à Visual Studio avec le concept des fenêtres).<br>
        <b>My SQL Server :</b> Système de gestion de base de données en langage SQL incorporant un SGBDR développé et commercialisé par la société Microsoft.<br>
        <b>WaveSoft :</b> Outil de gestion des ressources spécialement conçu pour les TPE, PME-PMI de tous secteurs d’activité. Circuit complet des ventes et achats, catalogues articles, 
        stocks, suivi des règlements et relances, traçabilité.<br>
        <b>Prestashop :</b> Application Web open source permettant de créer une boutique en ligne dans le but de réaliser du commerce électronique. Permet également 
        aux commerçants de donner accès à des outils tiers à la base de données de leur boutique via API CRUD (webservice).<br>
        <b>InfoMaker :</b> Logiciel de création de contenu multimédia et de publication numérique. Outils pour la rédaction, l'édition, la mise en page et la 
        publication de contenu, ainsi que des fonctionnalités pour la gestion de flux de travail et la collaboration entre les membres d'une équipe éditoriale.<br>
    </div>

    <p></p><br><br>

    <div class="missions">
        <h3>Mission 1 - Développement d'un connecteur Prestashop en WinDev</h3>
        <p>Suite à la signature d'un contrat avec un client, j'ai développé un connecteur en WinDev mettant en relation l'ERP WaveSoft et le site d'e-commerce Prestashop du client.<br>
            Pour des raisons de secret professionnel, je vous ai mis à disposition des captures d'écrans
            d'un site test interne à l'entreprise.<br>
        <p></p>
        <h4>Tâche 1 - Connexion et paramétrages sur le site Prestashop</h4>
        <p>Ci-dessous se trouve le tableau de bord de la boutique en ligne lorsque l'on est administrateur. Il permet de consulter les commandes, les produits et les catégories des produits
            du site.<br><p></p>       
        <img src="../public/images/alternance/tache1alter.png" class="images"><br></p>
        Et voici la boutique en mode consultation. Celle-ci vend essentiellement des articles liés au sport en général.<br></p>
        <img src="../public/images/alternance/tache1bisalter.png" class="images"><br>
        <p><br></p>
        <h4>Tâche 2 - Installation du connecteur et connexion à WaveSoft</h4>
        <p>Ce connecteur permet de consulter, créer, modifier et supprimer les articles, les prix, les stocks, les clients et les commandes que l'on retrouve dans WaveSoft. Sa fonction principale est de mettre à jour toutes
            ces données et de les publier sur le site Prestashop. Il a été créé afin d'éviter au client de faire ces diverses manipulations manuellement.<br><p></p>
            <img src="../public/images/alternance/tache1bis2alter.png" class="images"><br></p>
        <p><br></p>
    
        <h3>Mission 2 - Modifications d'un modèle d'édition sur InfoMaker</h3>
        <p>Je ne fais pas seulement du WinDev, j'ai également eu l'occasion de répondre aux demandes de certains clients à traiter sur InfoMaker. Dans le cas de cette mission, c'est un client de la société AIRISOL
            qui souhaitait ajouter un champ dans un modèle d'édition de commandes fournisseurs.<br>
        <p></p>
        <h4>Tâche 1 - Table UTILISATEURS dans My SQL Server</h4>
        <p>Pour ce faire, j'ai tout d'abord cherché la table ciblée dans la base de donnée sur laquelle j'ai effectué une requête.<br><p></p>
        <img src="../public/images/alternance/tache2alter.png" class="images"><br></p>
        La table ciblée est celle des utilisateurs puisque la demande du client était d'ajouter le champ "Commande suivie par :" dans l'en-tête de la commande fournisseur.<br><p></p>
        <img src="../public/images/alternance/tache2bisalter.png" class="images"><br></p>
        <h4>Tâche 2 - Requête SQL dans InfoMaker</h4>
        <p>Pour l'insertion du champ "Commande suivie par :" dans le modèle d'édition de commandes fournisseurs, j'ai du faire une requête SQL dans InfoMaker afin d'obtenir le champ usrprenom de la table utilisateurs.<br><p></p>
        <img src="../public/images/alternance/tache2bis4alter.png" class="images"><br></p>
        <h4>Tâche 3 - Insertion d 'un champ dans le modèle d'édition commande fournisseur</h4>
        <p>Afin d'ajouter un champ dans un modèle d'édition dans InfoMaker, il faut également faire une requête mais celle-ci est très simple :<br><p></p>
        <img src="../public/images/alternance/tache2bis2alter.png" class="images"><br></p>
        <h4>Tâche 4 - Résultat sur le modèle d'édition d'une commande fournisseur</h4>
        <p>Ci-dessous se trouve une commande fournisseur après la modification effectuée.<br><p></p>
        <img src="../public/images/alternance/tache2bis3alter.png" class="images"><br></p>    
    </p>
    </div>

    <footer>
        <p>Alessia TORNABENE</p>
    </footer>

</body>

</html>